.single-sign-on-links {
    list-style: none;
    padding-left: 0;
}
.single-sign-on-links .single-sign-on-link {
    height: 48px;
}
.single-sign-on-links .button {
    display: initial;
    min-height: 0;
    height: 36px;
    padding: 6px 1em;
    border: 0;
    border-radius: .25rem;
    background-color: #222933;
    color: #bdcde3;
    box-shadow: none;
    text-decoration: none;
}
.single-sign-on-link .button:hover {
    color: #fff;
    text-decoration: none;
}
